<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
		<key>icon</key>
		<string>50.jpeg</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>奥利奥原味</string>
		<key>icon</key>
		<string>7735164184.jpeg</string>
		<key>picture</key>
		<string>926680527.jpeg</string>
		<key>name</key>
		<string>内涵段子</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>历经磨难，青蛙王子终于跳上餐桌，希望公主能给他一个吻。公主一见到他，满心欢喜，吧唧着嘴说：「哇塞，好肥的田鸡啊！」</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>号外号外:大师兄下凡不慎，被数人围观</string>
		<key>icon</key>
		<string>1516159990.jpeg</string>
		<key>picture</key>
		<string>3461756566.jpeg</string>
		<key>name</key>
		<string>西门抽筋</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>可以不写标题吗</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>picture</key>
		<string>6289891986.jpeg</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>去买祭品，居然看到有纸糊的苹果手机。就问:啊哈，这里还有苹果5S啊？老祖宗会用吗？老板白了我一眼说:乔布斯都亲自下去教了，你还操什么心。我买了一个刚转身要走，老板提醒:再买个手机套吧！下面蛮潮湿的。我说好，接着老板又说再买个蓝牙耳机吧，最近下面出了新交规，开车接电话查的严。我又买个蓝牙耳机，老板继续善意提醒:最重要的还要买充电器啊！回头你祖宗找你要就不好了，光找你要是小事，让你送过去就麻烦了。我又买个充电器，然后和老板要名片。老板问:要我名片干嘛？我说烧给祖宗啊！万一出了质量问题我好让我祖宗来找你。</string>
		<key>icon</key>
		<string>238221586.jpeg</string>
		<key>name</key>
		<string>西门蛋疼</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>妖怪，吃俺老孙一棒！</string>
		<key>icon</key>
		<string>424324.jpeg</string>
		<key>picture</key>
		<string>4934348604.jpeg</string>
		<key>name</key>
		<string>撸你妹</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>怎么办啊，，，谁会修手机，我下载了个滑动解锁软件，解不开锁，，，我手机不是触屏的啊。。。。。</string>
		<key>icon</key>
		<string>7735164184.jpeg</string>
		<key>name</key>
		<string>内涵段子</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>完全豁出去的广告</string>
		<key>icon</key>
		<string>50.jpeg</string>
		<key>picture</key>
		<string>603564546.jpeg</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
