<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>Description</key>
	<string>Create VIPER module base on XFLegoVIPER framework.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Create a module</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Module Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>Create VIPER module base on XFLegoVIPER framework.</string>
</dict>
</plist>
